@page "{handler?}"
@using Microsoft.AspNetCore.Http
@model JoculSpanzuratoarea.Pages.IndexModel

<div class="game-info">
    <div class="play-info">
        <h5>Ghicește cuvântul selectând câte o literă.</h5>
        <h5 id="infoStateGame">
            Mai poți alege <span id="failCount" class="text-success">6</span> litere greșite.
        </h5>
        <h5 id="guess" class="guess">@Model.maskedWordToGuess</h5>
        <form method="post">
            @foreach (var letter in Model.alphabet)
            {
                <button onClick="onLetterClick('@letter')"
                        class="btn btn-light m-2 px-4 py-2"
                        style="color: white;"
                        type="button">
                    @letter
                </button>
            }
        </form>
    </div>

    <div class="win-info">
        <h2 id="success"></h2>
        <h2 id="word"></h2>
        <h6 id="wordDefinition"></h6>
    </div>

    <div>
        <form method="post">
            <button type="submit" class="btn btn-outline-info m-2 px-4 py-2">
                Restart Game
            </button>
        </form>
    </div>
</div>

@section scripts {
    <script>
        function onLetterClick(letter) {
            fetch('LetterClick', {
                method: "POST",
                body: JSON.stringify({ letter }),
                headers: {
                    "Content-Type": "application/json",
                    "Xsrf-Token": $('input[name="__RequestVerificationToken"]').val()
                },
            })
                .then((response) => response.json())
                .then((response) => {
                    document.getElementById('guess').innerHTML = response["maskedWordToGuess"];
                    if (response["guessedFullWord"]) {
                        const playInfo = document.getElementsByClassName("play-info");
                        playInfo[0].style.display = 'none';
                        document.getElementById('success').classList.add("success");

                        document.getElementById('success').innerHTML = "Ai câștigat!";
                        document.getElementById('word').innerHTML = response["word"];
                        document.getElementById('wordDefinition').innerHTML = response["wordDefinition"];

                    }
                    else {
                        var failCount = 6 - response["failCount"];
                        document.getElementById('failCount').innerHTML = "" + failCount;
                        switch (failCount) {
                            case 4:
                            case 3:
                            case 2:
                                document.getElementById('failCount').classList.add("text-warning");
                                document.getElementById('failCount').classList.remove("text-success");
                                break;
                            case 1:
                            case 0:
                                document.getElementById('failCount').classList.add("text-danger");
                                document.getElementById('failCount').classList.remove("text-success");
                                document.getElementById('failCount').classList.remove("text-warning");
                                break;
                            default:
                        }
                    }
                });
        }
    </script>
}