html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.guess {
    letter-spacing: 1em;
}

.success {
    color: green;
}

#failCount {
    font-weight: bold;
}

.btn-light {
    background-color: #5c277a;
    border: none;
}

.btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:visited, .btn-outline-info:focus {
    color: white;
    background-color: #916fa3;
    border: none;
}

.btn-outline-info {
    color: #5c277a;
    border-color: #5c277a;
}

.btn-light:hover, .btn-light:active, .btn-light:visited, .btn-light:focus {
    background-color: #916fa3;
    border: none;
    border-color: none;
}


.game-info {
    background-color: cornsilk;
}

.win-info, .play-info {
    margin-left: 6px;
}


